<header class="header">
  <div class="container-main">
    <div class="header__wrapper">

      <div class="logo">
        <a href="#" class="logo__img">
          <img src="img/logo.svg" alt="logo">
        </a>
      </div>

      <div class="menu">
        
        <div class="burger">
          <span class="burger-line1 burger-line"></span>
          <span class="burger-line2 burger-line"></span>
          <span class="burger-line3 burger-line"></span>
        </div>

        <nav class="menu__wrapper">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="#">Напрямки</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Допомога з роботою</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Історії успіху</a>
            </li>

            <li class="menu__item">
              <a class="menu__link menu__link--close" href="#">Закрити меню</a>
            </li>

          </ul>

          <div class="menu__info">
            <a class="menu__info-mail menu__info-link" href="mailto:hello@cursor.education">
              hello@cursor.education
            </a>

            <a class="menu__info-phone menu__info-link" href="tel:+380630493115">
              +38 (063) 049 3115
            </a>
          </div>
        </nav>

      </div>

      <div class="language">
        <select class="language-switch">
          <option value="ukrainian" selected>Ua</option>
          <option value="russian">ru</option>
          <option value="english">en</option>
        </select>
      </div>
    </div>
  </div>
</header>